= link_to root_path do
  トップページ

.new-post
  .new-post__header
    %p 新記事の作成
  .new-post__content
    .new-post__form
      = form_with model: @post, local: true do |f|
        = f.text_field :title, placeholder: "タイトル", class: "new-post-title"
        = f.text_area :content, placeholder: "内容", rows: "10", wrap: "hard", cols: "50", class: "new-post-content"
        = f.submit '投稿する', class:"new-post-submit"